{% extends 'base.html' %}

{% block title %} 
        welcome page 
{% endblock title %}
{% block content %}

    <h1>list students</h1>
    <table class="table">
        <thead>
          <tr>
            <th scope="col">FirstName</th>
            <th scope="col">LastName</th>
            <th scope="col">Email</th>
          </tr>
        </thead>
        <tbody>
             
          <tr>
            {% for s in object_list %}
            <td>{{s.first_name}} </td>
            <td>{{s.last_name}} </td>
            <td>{{s.email}} </td>
          </tr>
          
          
        </tbody>
        {% endfor %}
      </table>
      <h1>list coachs</h1>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">FirstName</th>
            <th scope="col">LastName</th>
            <th scope="col">Email</th>
          </tr>
        </thead>
        <tbody>
             
          <tr>
            {% for C in coachs %}
            <td>{{C.first_name}} </td>
            <td>{{C.last_name}} </td>
            <td>{{C.email}} </td>
          </tr>
          
          
        </tbody>
        {% endfor %}
      </table>
    
    

{% endblock content%}

